.resources__container__v3ZaO{background:#fff;padding:24px 0 48px;position:relative}.resources__container__v3ZaO img{max-width:100%}.resources__heading__uodxX{color:#149c41;font-size:32px;font-style:normal;font-weight:700;line-height:36px;line-height:normal;margin-bottom:24px;position:relative;text-align:center;text-transform:uppercase}.resources__heading__uodxX .apply-badge{margin:0 auto;padding:10px;width:55%}.resources__partners__gpMBb{align-items:start;display:flex;flex-wrap:wrap;justify-content:center;position:relative;z-index:2}.resources__partner__zTPnj{align-items:center;display:flex;flex-direction:column;justify-content:center}.resources__logo__erKTZ{position:relative;width:90px;z-index:2}.resources__partnerText__asbi2{background-color:#fff;border:3px solid #f81621;color:#232323;font-size:1rem;letter-spacing:.5px;line-height:1.1rem;margin-bottom:20px;margin-top:-50px;max-width:500px;padding:70px 20px 30px;text-align:center;width:75%}.resources__partnerText__asbi2 .name{font-family:roc-grotesk,sans-serif;font-size:1.5rem;font-weight:800;letter-spacing:1px;line-height:1.6rem;margin-bottom:10px;text-transform:uppercase}@media (max-width:1024px){.resources__partners__gpMBb{align-items:center}}@media (min-width:1024px){.resources__heading__uodxX{margin:0 8px}.resources__heading__uodxX .apply-badge{height:100%;position:absolute;right:50%;top:50%;transform:translate(170%,-50%);width:280px}.resources__heading__uodxX h1{margin-bottom:0}.resources__heading__uodxX p{line-height:200px}.resources__logo__erKTZ{margin:60px 60px 30px}.resources__partner__zTPnj{display:flex}.resources__partnerText__asbi2{font-size:.9rem;height:320px;line-height:1.1rem;margin-left:10px;margin-right:10px;margin-top:-85px;padding:80px 20px 20px;text-align:left;width:230px}.resources__partnerText__asbi2 .name{font-size:1.6rem;line-height:1.5rem}}@media (min-width:1280px){.resources__partnerText__asbi2{width:250px}}
/*
     FILE ARCHIVED ON 00:57:17 Mar 27, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:07:44 Apr 22, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 172.625
  exclusion.robots: 0.117
  exclusion.robots.policy: 0.104
  cdx.remote: 0.082
  esindex: 0.012
  LoadShardBlock: 67.778 (3)
  PetaboxLoader3.datanode: 127.216 (5)
  load_resource: 201.36 (2)
  PetaboxLoader3.resolve: 58.516 (2)
*/